@box-small-min-height: 80px;

.box-small {
	.block-relative(100%);
	min-height: @box-small-min-height;
	padding-left: 80px;
	margin-bottom: 10px;
	background: @white;
	color: darken(@white, 70%);

	.icon {
		display: inline-block;
		position: absolute;
		top: 10px;
		left: 10px;
		width: 60px;
		height: 60px;

		font-size: 36px;
		line-height: 60px;
		text-align: center;
	}

	.info {
		.block-relative(100%);
		padding: 10px 10px 10px 0px;
		min-height: @box-small-min-height;

		.value, .title {
			display: inline-block;
			width: 100%;
			float: left;
		}
		
		.value {
			font-weight: bold;
			margin: 5px 0px;
			font-size: 22px;
		}

		.title {
			font-size: 13px;
		}

		&[class *= "bg-"] {
			padding-left: 15px;
		}

		hr {
			float: left;
			width: 100%;
			border-color: rgba(0,0,0,.15);
			margin: 5px 0px;

			&.lighter {
				border-color: rgba(255,255,255,.3);
			}

			&.bold {
				border-width: 2px;
			}
		}
	}

	&.circle-icon {
		.icon {
			width: 40px;
			height: 40px;
			top: 20px;
			left: 20px;
			border-radius: 100px;
			line-height: 32px;

			i {
				font-size: 24px;
			}
		}
	}

	&.shadowed {
		&:after {
			content: '';
			position: absolute;
			width: 94%;
			left: 3%;
			top: 100%;
			height: 4px;
			background: black;
			opacity: .1;
		}
	}

	&.rounded {
		border-radius: 3px;
	}
}