@body-bg-color: @clouds;

@header-height: 50px;
@header-bg-color: @white;
@header-z-index: 99;

@sidebar-width: 220px;
@sidebar-bg-color: @white;

@footer-height: 40px;
@footer-bg-color: darken(@body-bg-color, 5%);

body {
    background: @body-bg-color;
    overflow-x: hidden;
}

header, aside, footer, #content {
    .border-box;
}

header, footer {
    position: fixed;
    left: 0px;
    width: 100%;
    z-index: 99;
}

header {
    height: @header-height;
    background: @header-bg-color;
    top: 0px;
    z-index: @header-z-index;

    &:after {
        content: '';
        position: absolute;
        top: 100%;
        width: 100%;
        height: 4px;
        background: black;
        opacity: .1;
        z-index: @header-z-index + 1; 
    }
}

aside {
    height: 0px;
    width: @sidebar-width;
    
    .sidebar {
        bottom: 0px;
        display: block;
        left: 0px;
        line-height: 20px;
        overflow-x: hidden;
        overflow-y: hidden;
        position: fixed;
        top: @header-height;
        width: @sidebar-width;
        z-index: @header-z-index - 1;
        background: @sidebar-bg-color;
        border-right: 4px solid rgba(0,0,0,.1);
    }
}

footer {
    height: @footer-height;
    background: @footer-bg-color;
    bottom: 0px;
    margin-left: @sidebar-width;
    padding-right: @sidebar-width;
}

#content-wrapper {
    position: absolute;
    top: @header-height;
    bottom: @footer-height;
    height: auto;
    overflow-y: auto;
    padding-left: @sidebar-width;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-right: @sidebar-width;
    overflow-x: hidden;

    > .content, > .content-header, > .content-footer {
        .block-relative(100%);
    }

    > .content {
        padding: 15px;
    }
}
