
.border-box {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.block-relative(@width: auto) {
	float: left;
	position: relative;
	display: block;
	width: @width;
	.border-box;
}
