hr.dashed {
	border-style: dashed;
}


.bg-blue { background-color: @blue; color: @white; }
.bg-purple { background-color: @purple; color: @white; }
.bg-red { background-color: @red; color: @white; }
.bg-green { background-color: @green; color: @white; }
.bg-orange { background-color: @orange; color: @white; }
.bg-yellow { background-color: @yellow; color: @white; }
.bg-white { background-color: @white; color: darken(@white, 80%); }

.fg-blue { color: @blue !important; }
.fg-purple { color: @purple !important; }
.fg-red { color: @red !important; }
.fg-green { color: @green !important; }
.fg-orange { color: @orange !important; }
.fg-yellow { color: @yellow !important; }
.fg-white { color: @white !important; }
